* {
  box-sizing: border-box;
}

body {
    background-color: #962820;

} 
#wrapper {
    background-image: url(contact/contactBG.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 1000px;
}

nav {
    text-align: center;
    width: 100%;
    height: 90px;
    z-index: 2;
}

main {
    overflow-y: scroll;
    color: white;
    background-blend-mode: color-dodge;
    margin: 60px auto;
    width: 70%;
    height: 70%;
    
}

.post {
opacity: .7;
transition: 1.5s ease-in-out;
background-blend-mode: darken;
display: block;
width: auto;
height: 400px;
background: #271d29;
margin-left: 5px; 
margin-right: 5px;
margin-top: 20px;
}

.post:hover{
    opacity: 1;
    background-blend-mode: normal;
}


#spec {
    
    padding: auto;
    text-align: center;
    line-height: 50px;
    display: inline;
    text-align: center;
    list-style-type: none;
}

ul {
    margin-left: 30%;
    list-style-type: none;
}

li {

    float: left;
    margin-left: 10px;
}

li a {
    display: block;
    padding-left: 50px;
    color: white;
}

a {
    font-family: helvetica;
    letter-spacing: 10px;
    color: white;
    transition: 1s ease-in-out;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
   
}
a:hover {
    font-size: 20px;
    opacity: .2;
    letter-spacing: 10px;
}
a:active {}




#spec {
    font-size: 12px;
    font-family: helvetica;
    letter-spacing: 3px;
    color: white;
    transition: 1s ease-in-out;
}
#spec:link {
    text-decoration: none;
}
#spec:visited {
    text-decoration: none;
   
}
#spec:hover {
    font-size: 12px;
    opacity: .5;
    letter-spacing: 5px;
}
#spec:active {}

